# Test Immutable and Mutable Types

In [1]:
# String is an immutable type in Python.
s = "Hello"
print(id(s))

s += " World"
print(id(s))

136159167970736
136159168088368

In [2]:
# List is a mutable type in Python.

list_a = [1, 2, 3]
print(id(list_a))
list_a.append(4)

list_a[0] = 10  
print(id(list_a))

136159168098048
136159168098048

In [3]:
# Tuple is an immutable type in Python.

point_a = (1, 2, 3)
print(id(point_a))
point_a = point_a + (4,2,"ok")

print(point_a)
print(id(point_a))

136159168033408
(1, 2, 3, 4, 2, 'ok')
136159586163424

In [4]:
# Dictionary is a mutable type in Python.
dict_a = {
    'name' : 'Alice',
    'age' : 30,
    'city' : 'New York'
}
print(id(dict_a))

dict_a['age'] = 31

print(id(dict_a))

136159168089600
136159168089600

In [5]:
def show_address(elem):
    return id(elem)

In [6]:
# Check if the addresses are the same
print("Is element have the same address?", id(list_a) == show_address(list_a))
print("Is element have the same address?", id(point_a) == show_address(point_a))
print("Is element have the same address?", id(dict_a) == show_address(dict_a))
print("Is element have the same address?", id(s) == show_address(s))

Is element have the same address? True
Is element have the same address? True
Is element have the same address? True
Is element have the same address? True

In [7]:
# indexed by 

# use tuple as a key
dict_b = {
    (0,0):"center",
    "good_point": True
}

print(dict_b)

{(0, 0): 'center', 'good_point': True}

# Test Operator

## String

In [8]:
mail =(4*"Hello")
print(mail)

HelloHelloHelloHello

## List

In [9]:
friends = ['Nam Hy', 'Vinh Tuong', 'Quoc Huy', 'Quoc Thinh']

friends += ["Minh Quang"]

friends *= 1+1

print(friends)

['Nam Hy', 'Vinh Tuong', 'Quoc Huy', 'Quoc Thinh', 'Minh Quang', 'Nam Hy', 'Vinh Tuong', 'Quoc Huy', 'Quoc Thinh', 'Minh Quang']

# Tuple

In [10]:
point_b = (1,2,3)

print(id(point_b))
point_b *= 3
print(id(point_b))

point_b += (1,2)
print(point_b)

136159168028032
136159167992144
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2)

## Dictionary hasn't + and * operator

# `in` operator

```python

## String

In [11]:
name = "Nguyen Thi Phuong Ngan"
print('Nguyen' in name)
print('Nguyen Minh' in name)

True
False

## List

In [12]:
list_ids = [-123,123,3432,3423]

print(-123 in list_ids)
print(12 in list_ids)

True
False

## Tuple

In [13]:
point_c = (1,2,3,4,5,6)
print(1 in point_c)
print(10 in point_c)

True
False

In [14]:
students = {
    "Nguyen Thi Phuong Ngan": {
        "age": 20,
        "address": "Hue",
        "grades": [8, 9, 10]
    },
    "Nguyen Minh Quang": {
        "age": 21,
        "address": "Hanoi",
        "grades": [7, 8, 9],
        "social_media": {
            "facebook": "nguyenminhquang",
            "twitter": "nguyenminhquang"
        }
    }
}

print(students.values())

dict_values([{'age': 20, 'address': 'Hue', 'grades': [8, 9, 10]}, {'age': 21, 'address': 'Hanoi', 'grades': [7, 8, 9], 'social_media': {'facebook': 'nguyenminhquang', 'twitter': 'nguyenminhquang'}}])

# Indexing

In [15]:
list_python = ['P', 'y', 't', 'h', 'o', 'n']
for i in range(len(list_python)):
    print(f"Index {i} has value {list_python[i]}")

for i in range(-6, 0):
    print(f"Index {i} has value {list_python[i]}")

Index 0 has value P
Index 1 has value y
Index 2 has value t
Index 3 has value h
Index 4 has value o
Index 5 has value n
Index -6 has value P
Index -5 has value y
Index -4 has value t
Index -3 has value h
Index -2 has value o
Index -1 has value n

# Slicing

## S[start:end:step]

In [30]:
S = "Python"
print(S[0:6]) 
print(S[-1:-7:-1])  
print(S[-6:5])

Python
nohtyP
Pytho

# String

In [17]:
string_A = "aa"
string_B = "a"

print(string_A == string_B)
print(string_A > string_B)

False
True

## String methods

In [ ]:
name = "nguyen Thi Phuong Ngan"
print(len(name))
print(name.strip('n'))
print(name.upper())
print(name.lower())
print(name.find('Phuong'))
print(name.find('Ok'))
print(name.split('n'))
print(name.ljust(30, '*'))
print(name.rjust(40, '*'))
print(name.replace('Phuong', 'Ngan'))

s = "@"
print(s.lower())


s = "kien kim khoi"

l = []
for word in s.split(' '):
    word = word[0].upper() + word[1:len(word)]
    l.append(word)

print(" ".join(l))

22
guyen Thi Phuong Nga
NGUYEN THI PHUONG NGAN
nguyen thi phuong ngan
11
-1
['', 'guye', ' Thi Phuo', 'g Nga', '']
nguyen Thi Phuong Ngan********
******************nguyen Thi Phuong Ngan
nguyen Thi Ngan Ngan
@
Kien Kim Khoi

# List

In [19]:
list_functions = [
    "capitalize",
    "casefold",
    "center",
    "count"
]
 
print(id(list_functions))

del list_functions[0]

print(id(list_functions))
print(list_functions)  # This will raise an error since list_functions is deleted

136159168241152
136159168241152
['casefold', 'center', 'count']

In [ ]:
a = [1,2]
b = [1,2]
print(a+b)
print(b+a)

print(a is b)


a = [1,2,3,4,5]
del a[4]

print(len(a))

[1, 2, 1, 2]
[1, 2, 1, 2]
False
4

IndexError: pop from empty list

In [41]:
list_functions = [
    "capitalize",
    "casefold",
    "center",
    "count",
    "count"
]

print(list_functions.index('count'))

list_functions.extend(['find', 'format', 'index', 'isalnum', 'isalpha', 'isdigit'])

print(list_functions)

3
['capitalize', 'casefold', 'center', 'count', 'count', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isdigit']

In [ ]:
print(', '.join(list_functions))

capitalize, casefold, center, count, count, find, format, index, isalnum, isalpha, isdigit

In [47]:
a = [1,2,3]
b = [1,2]
a.extend(b)

print(a)
# print(a + b)

[1, 2, 3, 1, 2]

## List comprehensions (Must learn)

In [22]:
a = [1, 2, 3, 4, 5]
print(a)

b = [element**2 for element in a]

print(b)

c = [element**2 if element % 2 == 0 else element for element in a if element % 2 == 0]
print(c)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[4, 16]

In [ ]:
a = ('baba',2,2)
b = ('baba',1,2)
print(a > b)

print(a is b)
print(a == b)

True

SyntaxError: can't use starred expression here (1340373574.py, line 6)

Note: 
`is` checks if two variables point to the same object in memory.
`==` checks if the values of two variables are equal.

## Dictionary

In [ ]:
students = {
    "Nguyen Thi Phuong Ngan": {
        "age": 20,
        "address": "Hue",
        "grades": [8, 9, 10]
    },
    "Nguyen Minh Quang": {
        "age": 20,
        "address": "Hanoi",
        "grades": [7, 8, 9],
        "social_media": {
            "facebook": "nguyenminhquang",
            "twitter": "nguyenminhquang"
        }
    },
    "Nguyen Minh Quang": {
        "age": 19,
        "address": "Hanoi",
        "grades": [7, 8, 9],
        "social_media": {
            "facebook": "nguyenminhquang",
            "twitter": "nguyenminhquang"
        }
    }
}

print(students.keys())
print(students.values())
print(students.items())
print(students.get("Nguyen Minh Quang"))

dict_keys(['Nguyen Thi Phuong Ngan', 'Nguyen Minh Quang'])
dict_values([{'age': 20, 'address': 'Hue', 'grades': [8, 9, 10]}, {'age': 19, 'address': 'Hanoi', 'grades': [7, 8, 9], 'social_media': {'facebook': 'nguyenminhquang', 'twitter': 'nguyenminhquang'}}])
dict_items([('Nguyen Thi Phuong Ngan', {'age': 20, 'address': 'Hue', 'grades': [8, 9, 10]}), ('Nguyen Minh Quang', {'age': 19, 'address': 'Hanoi', 'grades': [7, 8, 9], 'social_media': {'facebook': 'nguyenminhquang', 'twitter': 'nguyenminhquang'}})])
{'age': 19, 'address': 'Hanoi', 'grades': [7, 8, 9], 'social_media': {'facebook': 'nguyenminhquang', 'twitter': 'nguyenminhquang'}}

# Set

In [24]:
S = {10, 2, 6, 3, 4, 5, "ok"}
print(S)

{2, 3, 4, 5, 6, 10, 'ok'}

In [25]:
# union
S1 = {1,2,3}
S2 = {4,5,6}

print(S1.union(S2))
print(S1 | S2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [26]:
# intersection
S1 = {1, 2, 3}
S2 = {3, 4, 5}
print(S1.intersection(S2))
print(S1 & S2)

{3}
{3}

In [27]:
# Difference
S1 = {1, 2, 3}
S2 = {2, 3, 4}
print(S1.difference(S2))
print(S2-S1)

{1}
{4}

In [28]:
# Symmetric Difference
S1 = {1, 2, 3}
S2 = {2, 3, 4, "ok" , (23,12)}
print(S1.symmetric_difference(S2))
print(S1 ^ S2)

{1, 4, (23, 12), 'ok'}
{1, 4, (23, 12), 'ok'}

### Note: Set only contains hashable types

In [ ]:
result = [1,2,3]

nest = [int(e) for e in ' '.join([str(i) for i in result]).split( ")]
" ")]

result.append(4)

# nest = [int(e) for e in nest.split(" ")]


print(nest == [1,2,3])

True

In [ ]:
a = [
    {"oke"},
    {
        'a':1,
        'b':2
    }
]